/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
  background-image: url(rapeatable-bg.png);
}

*{
  color: #62585f;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

nav ul .logo{
  margin-right: 125px;
  height: auto;
}

nav{
  width: 940px;
  height: 85px;
  margin: auto;
  background: transparent;
}

nav ul{
  margin-top: 8px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  
}

nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
}

nav ul div.items{
  margin-left: 130px;
  display: inline-flex;
}
/*****************************/
.items a {
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px ;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.items a:hover {
  transition-duration: 0.3s;
  background-color: #ffffff;
  color: black;
}

.active {
  background-color: #ef4634;
  color: #ffffff;
}

nav ul .search-icon{
  border: 2px solid black;
  height: 20px;
  width: 150px;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
}

nav ul .search-icon input{
  height: 100%;
  width: 150px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px ;
}

nav ul .search-icon .icon{
  margin-left: 5px;
  cursor: pointer;
}

nav ul .search-icon .icon:hover{
  background: #e6e6e6;
}
nav ul .search-icon .icon span{
  color: #222222;
  font-size: 18px;
}

/**************************Menu_bar************************/
.menu_bar{
  background-image: url("home/features-repeatable-bg.png");
  height: 101px;
  width: 100%;
  background-repeat: repeat-x;

}

/*  SECTIONS  */
.section {
  margin: auto;
  width: 940px
}

/*  COLUMN SETUP  */
.col_ {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}

.col_:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,.group:after { 
  content:""; display:table; 
}

.span_1_of_3 { width: 32.26%; }
/***************** Slide ************************/
.slide_container{
  position: absolute;
  height: 544px;
  max-width: 1362px;
  margin: auto;
  position: relative;
  background-color: #e73d2d;
}

.slide{
  position: relative;
  text-align: center;
  margin: auto;
}

.scrol{
  width: 100%;
}

/* Position the "next button" to the right */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
}

/* Position the "next button" to the right */
.prev{
  left: 225px
}

.next {
  right: 225px;
}

.slide .slide_image{
  height: 534px;
  width: 611px;
  }

.text_{
  bottom: 20px;
  right: 20px;
  text-align: center;
  width: 1000px;
  margin: -230px auto;
  height: 200px;

}
  .text_  h1  {
    font-size: 70px;
  }

  .text_  p {
    font-size: 16px;
  }

  /**********************portfoio**********************/

  .col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }
  .design_{
    margin: 40px auto 15px auto; 
    height: 70px;
    border-bottom: 1px solid black;
    width: 940px;
    
  }

.design .design_ h1{
    font-weight: 100;
    position: absolute;
    font-size: 45px;
    color: #62585f;
    text-shadow: 2px 2px 2px #ffffff;
  }

.col img{
    object-fit: cover;
  margin: auto;
  height: 210px;
  width: 300px;
  border-radius: 10px;
  }

.button {
  margin-top: 5px;
  float:right;
  background-color: #222222; 
  border:0px solid #ffffff  ;
  border-radius: 5px;
  color: white;
  padding: 5px 8px;;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

 .button:hover {
  background-color: #ffffff;
  color: black;
}

.active_button{
  background-color: #ef4634;
  color: white;
}

.pagination {
  width: 950px;
  margin:15px auto;
  text-align: center;
  display: inline-block;
}

.pagination a {
  font-weight: bold;
  color: black;
  /*float: left;*/
  padding: 5px 10px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #e73d2d;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ffffff;
  border-radius: 3px;
}

/***********************portfolio_sliding*************************/

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 130px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0, 0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  height: 430px;
  width: 540px;
}

/* The Close Button */
.close {
    height: 32px;
    width: 29px;
    padding: 0px 0px 10px 18px;
    color: black;
    position: absolute;
    top: 130px;
    right: 377px;
    font-size: 31px;
    font-weight: bold;
    background-color: white;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  margin: auto;
  display: none;
}

.cursor {
  cursor: pointer;
}


#myModal img{
  object-fit: cover;
  border-radius: 3px;
  margin: 20px 20px;
  height: 350px;
  width: 500px;
}

#caption{
  font-size: 18px;
  font-weight: bold;
}
.caption-container {
  text-align: center;
  margin-top: -8px;
}



img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*background-color: rgba(0, 0, 0, 0.9);*/
}


/***********************blog*************************/
.design_2 h1 {
    font-weight: 100;
    color: #62585f;
    text-shadow: 2px 2px 2px #ffffff;
  }


.header_1{
  margin-bottom: 20px;
  height: 50px;
  width: 620px;
  border-radius: 3px;
}

.blog_box, .blog_box2{
  float: left;
}

.blog_mini_box{
  height: 280px
}

.blog_mini_box:last-child {
  background: yellow;
}

.blog_{
  margin: auto;
  width: 940px;
}

/* Clear floats after the columns */
.blog_:after {
  content: "";
  display: table;
  clear: both;
}

.mini_box{
  width: 270px; 
  float: right;
}

.design_2{
  margin: 40px auto 35px auto; 
  height: 80px;
  border-bottom: 1px solid black;
  width: 620px;
    
  }

.date_box{
  height: 50px;
  border-radius: 3px 0px 0px 3px;
  background-color: #222222;
  width: 50px;
  position: absolute;
  border-right: 1px solid #b3b3b3;
}

.date_box_{
  height:50px; 
  border-radius: 0px 3px 3px 0px; 
  background-color: #222222; 
  width: 570px; 
  float: right;
}

.date_box p{
  margin: 5px auto auto 13px;
}

.image_box img{
  object-fit: cover;
  margin: auto;
  height: 153px;
  width: 220px;
  border-radius: 10px;
}

.header_text p{
  font-size: 13px;
  display: inline-block;
}

.header_text p a{
  text-decoration: none;
}

.header_text p a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.img_text_box h5:hover{
  text-decoration: underline;
  cursor: pointer;
}

.blog_box .pagination {
  width: 620px;
  margin:15px auto;
  text-align: center;
  display: inline-block;
}

.blog_box .pagination a {
  font-weight: bold;
  color: black;
  float: right;
  padding: 5px 10px;
  text-decoration: none;
}

.blog_box .pagination a.active {
  background-color: #e73d2d;
  color: white;
  border-radius: 5px;
}

.blog_box .pagination a:hover:not(.active) {
  background-color: #ffffff;
  border-radius: 3px;
}
/*************** Mini box*******************/
.mini_box_header h1{
    font-weight: 100;
    font-size: 25px;
    color: #62585f;
    text-shadow: 2px 2px 2px #ffffff;
  }

.style_text p{
  font-size: 14px;
  color: #62585f; 
  line-height: 21px; 
  margin-top: 10px; 
  margin-bottom: 10px;
  font-weight: bold;
}

.mini_box_header {
    margin: 40px auto 15px auto;
    height: 35px;
    border-bottom: 1px solid black;
    width: 270px;
  }
.image_box_col{
margin-bottom: 10px;
}
.Link_style  a{
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;

}
.mini_image{
  margin-bottom: 5px;
    float: left;
    margin-right: 10px;
  }

.mini_image:last-child {
  margin-right: 0px;
}

.mini_image img{
  border-radius: 5px;
  height: 60px;
  width: 60px;
  }

.img_text{
  height: 55px;
}

.img_text img{
  width: 45px;
  height: 45px;
  border-radius: 3px;
}

.img_text p{
  font-weight: bold;
  font-size: 13px;
}

.img_text p a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/********************* blog_Link***********************/
.design_2 p{
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
}

.discription img{
  margin:15px 0 15px 0;
  height: 300px;
  width: 620px;
  object-fit: cover;
  border-radius: 3px;
}

.discription p{
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.tag{
margin:15px 0 15px 0; 
height:30px; 
font-weight: bold;
}
.tag p{
  font-size: 13px;
}

.tag p a{
  text-decoration: none;
}
.tag p a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.comment{
 border-top: 1px solid black;
 border-bottom: 1px solid black;
 font-weight: bold;
 font-size: 18px;
 color: #62585f;
 height: 40px;
 width: 620px;
}



/********************* FORM ****************************/
.form_box{
 display: flex;
 flex-flow: row wrap;
 align-items: center;
}

 label {
  font-size: 14px;
  margin-right:11px;
}

label input{
  width: 195px;
  height: 30px;
}

.form_box label:last-child {
  margin-right: 0px;
}

input{display:block;}


/***************************Footer*******************************/
.Footer{

  border-top: 1px solid black;
  border-bottom: 1px solid black; 
  width: 940px; 
  margin: auto; 
  height: 170px; 
  padding: 60px 0 60px 0;
}

._fo{
  padding-right: 10px;
  width: 460px;
  height: 170px;
  float: left;
}